In [1]:
import pandas as pd
import numpy as np

In [2]:
mlbdb = pd.read_csv('./2023_Batting_Stats.csv') #Data taken from baseball reference
mlbdb = mlbdb.rename(columns= {"Pos Summary": "Pos"}) 
mlbdb['Pos'] = mlbdb['Pos'].str.replace('*','')
print(mlbdb)

      Rk              Name  Age   Tm   Lg    G   PA   AB    R    H  ...  \
0      1        CJ Abrams*   22  WSN   NL  151  614  563   83  138  ...
1      2        José Abreu   36  HOU   AL  141  594  540   62  128  ...
2      3     Wilyer Abreu*   24  BOS   AL   28   85   76   10   24  ...
3      4  Ronald Acuna Jr.   25  ATL   NL  159  735  643  149  217  ...
4      5      Willy Adames   27  MIL   NL  149  638  553   73  120  ...
..   ...               ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
892  893      Jared Young*   27  CHC   NL   16   47   43    8    8  ...
893  894       Seby Zavala   29  TOT  MLB   73  193  175   17   30  ...
894  895       Seby Zavala   29  CHW   AL   66  176  161   15   25  ...
895  896       Seby Zavala   29  ARI   NL    7   17   14    2    5  ...
896  897       Mike Zunino   32  CLE   AL   42  140  124   11   22  ...

       OPS   OPS+   TB  GDP  HBP  SH  SF  IBB     Pos  Name-additional
0    0.712   95.0  232    7   13   3   3    2     6/H        abramcj01
1    0.680   87.0  207   16    6   0   6    1     3/D        abreujo02
2    0.862  132.0   36    0    0   0   0    0  87/H9D        abreuwi02
3    1.012  168.0  383   15    9   0   3    3     9/D        acunaro01
4    0.717   95.0  225   12    6   0   6    1     6/D        adamewi01
..     ...    ...  ...  ...  ...  ..  ..  ...     ...              ...
892  0.720   88.0   20    1    1   0   0    0    3/DH        youngja02
893  0.545   47.0   55    4    2   2   2    0    2/H1        zavalse01
894  0.511   37.0   49    4    1   2   2    0     2/H        zavalse01
895  0.899  150.0    6    0    1   0   0    0    /21H        zavalse01
896  0.578   62.0   38    3    1   0   0    0       2        zuninmi01

[897 rows x 31 columns]

/var/folders/xb/k5jn_45j51v9dkktpk3b41ch0000gn/T/ipykernel_46197/3514292795.py:3: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  mlbdb['Pos'] = mlbdb['Pos'].str.replace('*','')

In [3]:
pp = []
for item in mlbdb['Pos']:
    temp = ""
    if item[0] == '1':
        temp="SP"
    elif item[0] == '2':
        temp="C"
    elif item[0] == '3':
        temp="1B"
    elif item[0] == '4':
        temp="2B"
    elif item[0] == '6':
        temp="SS"
    elif item[0] == '5':
        temp="3B"
    elif item[0] == '7':
        temp="OF"
    elif item[0] == '8':
        temp="OF"
    elif item[0] == '9':
        temp="OF"
    elif item[0] =='D':
        temp="DH"
    else:
        temp= item[0]
    pp.append(temp)

mlbdb['PrimaryPos'] = pp

In [4]:
# Your existing code for cleaning the 'Pos' column
all_p = []
for item in mlbdb['Pos']:
    temp = ""
    for char in item:
        if char == '1':
            temp += "SP,"
        elif char == '2':
            temp += "C,"
        elif char == '3':
            temp += "1B,"
        elif char == '4':
            temp += "2B,"
        elif char == '5':
            temp += "3B,"
        elif char == '6':
            temp += "SS,"
        elif char == '7':
            if "OF" not in temp:
                temp += "OF,"
        elif char == '8':
            if "OF" not in temp:
                temp += "OF,"
        elif char == '9':
            if "OF" not in temp:
                temp += "OF,"
        elif char == 'D':
            temp += "DH,"
        else:
            pass  # Handle 'H' as needed or skip it

    all_p.append(temp.strip(','))  # Remove trailing comma

mlbdb['Pos'] = all_p

# Create the 'test' DataFrame
test = mlbdb['Pos'].str.get_dummies(sep=',')

# Rename the '2B' and '3B' columns in the 'test' DataFrame
test.rename(columns={'2B': 'Pos_2B', '3B': 'Pos_3B'}, inplace=True)

# Join the 'test' DataFrame to the original DataFrame
mlbdb = mlbdb.join(test)

# Now, you shouldn't encounter the "columns overlap" error
print(mlbdb)

      Rk              Name  Age   Tm   Lg    G   PA   AB    R    H  ...  \
0      1        CJ Abrams*   22  WSN   NL  151  614  563   83  138  ...
1      2        José Abreu   36  HOU   AL  141  594  540   62  128  ...
2      3     Wilyer Abreu*   24  BOS   AL   28   85   76   10   24  ...
3      4  Ronald Acuna Jr.   25  ATL   NL  159  735  643  149  217  ...
4      5      Willy Adames   27  MIL   NL  149  638  553   73  120  ...
..   ...               ...  ...  ...  ...  ...  ...  ...  ...  ...  ...
892  893      Jared Young*   27  CHC   NL   16   47   43    8    8  ...
893  894       Seby Zavala   29  TOT  MLB   73  193  175   17   30  ...
894  895       Seby Zavala   29  CHW   AL   66  176  161   15   25  ...
895  896       Seby Zavala   29  ARI   NL    7   17   14    2    5  ...
896  897       Mike Zunino   32  CLE   AL   42  140  124   11   22  ...

     Name-additional  PrimaryPos  1B  Pos_2B  Pos_3B  C  DH  OF  SP  SS
0          abramcj01          SS   0       0       0  0   0   0   0   1
1          abreujo02          1B   1       0       0  0   1   0   0   0
2          abreuwi02          OF   0       0       0  0   1   1   0   0
3          acunaro01          OF   0       0       0  0   1   1   0   0
4          adamewi01          SS   0       0       0  0   1   0   0   1
..               ...         ...  ..     ...     ... ..  ..  ..  ..  ..
892        youngja02          1B   1       0       0  0   1   0   0   0
893        zavalse01           C   0       0       0  1   0   0   1   0
894        zavalse01           C   0       0       0  1   0   0   0   0
895        zavalse01           /   0       0       0  1   0   0   1   0
896        zuninmi01           C   0       0       0  1   0   0   0   0

[897 rows x 40 columns]

In [5]:
mlbdb.to_csv("Batting_Stats_Fixed.csv", index=False)